<table border="0" cellpadding="0" cellspacing="0" align="center" width="800">
    <tr valign="middle" bgcolor="#3D3D3D" height="25">
        [RequesterInfo]
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" align="center" width="800" style="border: thin solid #eeeeee;">
    <tr height="25">
        <td width="800">
            <table border="0" bordercolor="#f7f7f7" cellpadding="0" cellspacing="0">
                <tr height="25">
                    <td width="800" style="color: #585858; font-family: Calibri; font-size: 14px;" bgcolor="#f7f7f7"><b>&nbsp; [Heading]</b> </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="font-size: 12px; font-family: Calibri;">[RequestDetail] </td>
    </tr>
    <tr>
        <td>
            <table width="800" style="color: #0d6e8c; font-family: Calibri; font-size: 11px;">
                <tr height="30">
                    <td width="40" style="color: #0d6e8c">&nbsp; NOTE: </td>
                    <td style="color: #333333">This is a system generated email . </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" align="center" width="800">
                <tr bgcolor="#3D3D3D" height="20">
                    <td width="800" style="color: #ffffff; font-family: Calibri; font-size: 11px; text-align: center">[Year]</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
